django==5.1
django-ninja==1.1.0
django-redis>=6.0.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
mozilla-django-oidc==4.0.0
django-unfold==0.4.1
django-tailwind==3.8.0
psycopg2-binary==2.9.9
gunicorn==23.0.0
paramiko==3.5.0
cryptography==43.0.3
celery==5.4.0
python-dotenv>=1.0
whitenoise>=6.6
cookiecutter>=2.6